@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.05em;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appContainer {
  padding: 1.5em;
  max-width: 80vw;
}
h1 {
  text-align: center;
}

/* Senator grid */
.header-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 4fr;
  justify-items: center;
  padding: 35px 0;
  border-bottom: 3px solid #000;
  font-weight: 700;
  background-color: #fff;
  position: sticky;
  top: 0;
  text-align: center;
}
.header-row .quote {
  font-weight: 700;
}
.senatorContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)) 4fr;
  border-bottom: 1px solid #aaa;
}
.senatorContainer > div {
  padding: 18px;
  grid-row: auto;
}
.senator,
.status {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
}
.status {
  display: flex;
  flex-direction: column;
}
.call-now {
  background-color: #fff;
  padding: 12px 19px;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px 3px rgba(50, 50, 50, 0.2);
  border: 4px solid rgb(212, 22, 22);
  text-align: center;
}
.call-now a {
  text-decoration: none;
  color: #000;
}
.state,
.senator,
.status {
  display: flex;
  align-items: center;
}
.uncommitted {
  background-color: rgba(212, 22, 22, 0.2);
}
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}
.source-date {
  display: flex;
  justify-content: flex-end;
}
.source-date a {
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 0.9em;
  }
  .senatorContainer,
  .header-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .quote {
    display: none;
  }
}

/* Summary dashboard */
.summary-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.summary-container {
  display: flex;
}
.summary-count {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  font-size: 3em;
}
.count-label {
  font-size: 1.3em;
}
.filter {
  background-color: #eee;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.yes-filter:hover,
.yes-active {
  background-color: rgb(248, 220, 93);
}
.uncommitted-filter:hover,
.uncommitted-active {
  background-color: rgba(212, 22, 22, 0.2);
}
.see-all {
  text-align: center;
  width: 300px;
}
.see-all:hover,
.all-senators-active {
  background-color: rgba(119, 136, 194, 0.4) !important;
}
